.container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: none;
  background-image: url('/assets/images/fondo3.webp');
  background-size: cover;
  background-position: center;
}