.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

.question-container {
  background-color: white;
  border: 0px;
  border-radius: 1rem;
}

.correct-answer {
  background-color: green;
  color: white;
}

.incorrect-answer {
  background-color: red;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

li.disabled {
  pointer-events: none;
  opacity: 0.6;
}

li:hover:not(.disabled) {
  background-color: #f0f0f0;
}
