<div class="content">
  <app-menu [currentItem]="testId" [itemCount]="questions.length" (notifier)="moveToQuestion($event)"></app-menu>
  <div class="questions">
    <div *ngIf="!loading" class="question">
      <div class="question-container">
        <h3>{{ questions[testId].questionText }}</h3>

        <ul>
          <li *ngFor="let response of questions[testId].responses" [ngClass]="getAnswerStyle(response)"
            (click)="selectResponse(questions[testId].questionId, response.responseId)" [class.disabled]="testDone">
            {{ response.responseText }}
          </li>
        </ul>

      </div>
      <div class="navigation-container">
        <button mat-button class="navigation-button" *ngIf="testId !== 0" (click)="prevQuestion()">Anterior</button>
        <button mat-button class="navigation-button" *ngIf="testId !== questions.length - 1"
          (click)="nextQuestion()">Siguiente</button>
        <button mat-button class="navigation-button" *ngIf="testId === questions.length - 1 && !testDone"
          (click)="finishTest()">Terminar</button>
      </div>
    </div>
    <div *ngIf="loading" class="container">
      <p>Cargando preguntas y respuestas...</p>
    </div>
  </div>
</div>